{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="stage col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}

        {{ range $pag.Pages.GroupByDate "2006" }}
          <h2 class="year-mark">{{ .Key }}</h4>
            {{ range .Pages }}
              <article class="post-preview row">
                  <a class="col-md-9" href="{{ .Permalink }}">
                    <span class="post-title">{{ .Title }}</span>
                  </a>
                  <div class="post-date listing-date col-md-3 text-right">
                    <span class="post-date-month">{{ .Date.Format "January" }}</span>
                    <span class="post-date-day"> {{ .Date.Format "02" }}, </span>
                    <span class="post-date-year">{{ .Date.Format "2006" }}</span>
                  </div>
              </article>
          {{ end }}          
        {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

